* {margin: 0; padding: 0; box-sizing: border-box}

html {
  font-size: 14px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #222;
}

canvas {
  display: block;
}

.text-hover {
  position: absolute;
  font-size: 1.25rem;
  font-style: italic;
  top: 3em;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  color: #888;
  z-index: -1;
  animation: fade 16s forwards;
}

header {
  margin: .5em;
  opacity: 0;
  transition: opacity .5s 1s;
  background: white;
}

header:hover {
  opacity: 1;
  transition: opacity .5s;
}

.fade {
  animation: fade 10s forwards;
}

@keyframes fade {
  0% {opacity: 1;}
  90% {opacity: 1;}
  100% {opacity: 0;}
}

.sketch-title {
  margin: 0 0 .325em 0;
  font-size: 1.5rem;
}

.back {
  margin: .5em;
  padding: .25em;
  display: inline-block;
  color: black;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 21;
  color: coral;
  text-decoration: none;
}

.back:hover {
  color: #fff;
  background: #222;
}

.fps {
  font-weight: 800;
  color: black;
  font-size: .9em;
}

ul {
  display: flex;
  flex-wrap: wrap;
}
li {
  list-style-type: none;
  margin: .25em;
  margin-left: 0;
  margin-right: 1em;
  background: #eee;
  padding: .5em;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

li strong {
  margin-right: .25em;
}

input[type="checkbox"] {
  margin-right: .325em;
}

#sketch-parent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
}