* {box-sizing: border-box}

html {
  font-size: 12px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #222;
}

.sketch-menu {
  display: flex;
}

a {
  display: block;
  font-size: 1.5rem;
  margin: .5em 0;
  color: rgb(255, 93, 34)
}

a:hover {
  color: black;
}

.sketch-menu nav {
  border: 2px solid rgb(0, 0, 40);
  margin: 1em;
  border-radius: 10px;
  padding: 1em;
}