* {margin: 0; padding: 0; box-sizing: border-box}

html {
  font-size: 16px;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  color: #222;
}

video {
  transform: rotateY(180deg);
}

canvas {
  display: block;
}

header {
  margin: .5em;
}

.sketch-title {
  margin: 0 0 .325em 0;
  font-size: 1.5rem;
}

.back {
  margin: .5em;
  padding: .25em;
  display: inline-block;
  color: black;
  position: absolute;
  top: 0;
  left: 0px;
  z-index: 21;
}

.fps {
  font-weight: 800;
  color: purple;
  font-size: .9em;
}

.back:hover {
  color: #fff;
  background: #222;
}
ul {
  display: flex;
  flex-wrap: wrap;
}
li {
  list-style-type: none;
  margin: .25em;
  margin-left: 0;
  margin-right: 1em;
  background: #eee;
  padding: .5em;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

li strong {
  margin-right: .25em;
}

input[type="checkbox"] {
  margin-right: .325em;
}

#sketch-parent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
}