* {margin: 0; padding: 0; box-sizing: border-box}

canvas {
    display: block;
}

#sketch-parent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) ;
}

#vid-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 12.5%)  scale(.25) rotateY(180deg);
}

.scanline {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 2px;
    height: 100%;
    background: rgba(255, 0, 0, .75);
    z-index: 10;
    display: none;
}